<a href="https://colab.research.google.com/github/rahmiyunidaM2472323/Coursera/blob/main/1_Coretan_Preprocessing_Seperti_Bang_Rinaldi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Library**

In [1]:
import pandas as pd
import os
os.getcwd()
os.listdir(os.getcwd())

['.config', 'sample_data']

**import pandas as pd:** https://medium.com/@16611092/mengenal-pandas-dalam-python-cc66d0c5ea40
https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb?hl=id
https://ngodingdata.com/python-pandas-dataframe/

**import os:**

# **Memuat Data dari Google Drive**

**Mounting Google Drive**

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

**Membaca File**

In [ ]:
#dataset = pd.read_excel('/content/drive/My Drive/SKRIPSI/0_Data/0_floods/floods_eyewitness_crowdflower_1653.xlsx', header=0)
#dataset

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,please_choose_a_category:confidence,created_at,id_str,rownames,category,text
0,1847304628,False,finalized,3,2018-05-08 22:21:00,1,Thu Jul 05 20:50:28 +0000 2018,",1014974815764037632,",94671,direct_eyewitness,"My state, everybody. Drought, fire, flood, hai..."
1,1847305169,False,finalized,3,2018-05-08 02:21:00,4.490278,Thu Jul 19 17:10:31 +0000 2018,",1019992896550985728,",27005,direct_eyewitness,Somebody please shoot me! I have been breaki...
2,1847306041,False,finalized,3,2018-06-08 09:08:00,0.452083,Mon Jul 04 16:41:38 +0000 2016,",750006667492855808,",26899,direct_eyewitness,It's fine. It's all fucking fine. I'm just a d...
3,1847305020,False,finalized,3,2018-06-08 02:27:00,1,Fri Jul 06 07:01:45 +0000 2018,",1015128653485826048,",36719,direct_eyewitness,Every years we face lots of losses of crop and...
4,1847304613,False,finalized,3,2018-05-08 20:24:00,1,Thu Jul 05 17:42:45 +0000 2018,",1014927577105010690,",76853,direct_eyewitness,insurance in this country is a scam. just got ...
...,...,...,...,...,...,...,...,...,...,...,...
1648,1847305649,False,finalized,4,2018-06-08 02:41:00,5.031944,Thu Jun 21 19:58:11 +0000 2018,",1009888228214804482,",11183,direct_eyewitness,i live right by the dsm river and it's gonna c...
1649,1847305246,False,finalized,3,2018-05-08 23:13:00,4.705556,Thu Jul 19 19:55:05 +0000 2018,",1020034309011341312,",59722,direct_eyewitness,The National Weather Service issued a flood wa...
1650,1847305528,False,finalized,3,2018-05-08 03:54:00,4.492361,Thu Jun 21 22:48:45 +0000 2018,",1009931156542906368,",28372,direct_eyewitness,"MrJDScott It s 74 Â°, rainy with flood warning..."
1651,1847305030,False,finalized,4,2018-05-08 17:23:00,5.274306,Fri Jul 06 11:36:31 +0000 2018,",1015197799862939649,",53502,direct_eyewitness,I've never been more excited for a flash flood...
1652,1847304950,False,finalized,3,2018-05-08 22:57:00,1,Fri Jul 06 11:05:55 +0000 2018,",1015190099028570112,",51082,direct_eyewitness,Accurate depiction of me when my phone alerted...

# **Memuat Data yang Telah di Upload ke "sample_data"**

In [5]:
#memuat dataset klasifikasi dalam format .xlsx
df = pd.read_excel("sample_data/floods_eyewitness_crowdflower_1653.xlsx", header=0)
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,please_choose_a_category:confidence,created_at,id_str,rownames,category,text
0,1847304628,False,finalized,3,2018-05-08 22:21:00,1,Thu Jul 05 20:50:28 +0000 2018,",1014974815764037632,",94671,direct_eyewitness,"My state, everybody. Drought, fire, flood, hai..."
1,1847305169,False,finalized,3,2018-05-08 02:21:00,4.490278,Thu Jul 19 17:10:31 +0000 2018,",1019992896550985728,",27005,direct_eyewitness,Somebody please shoot me! I have been breaki...
2,1847306041,False,finalized,3,2018-06-08 09:08:00,0.452083,Mon Jul 04 16:41:38 +0000 2016,",750006667492855808,",26899,direct_eyewitness,It's fine. It's all fucking fine. I'm just a d...
3,1847305020,False,finalized,3,2018-06-08 02:27:00,1,Fri Jul 06 07:01:45 +0000 2018,",1015128653485826048,",36719,direct_eyewitness,Every years we face lots of losses of crop and...
4,1847304613,False,finalized,3,2018-05-08 20:24:00,1,Thu Jul 05 17:42:45 +0000 2018,",1014927577105010690,",76853,direct_eyewitness,insurance in this country is a scam. just got ...

# **Removing**

In [6]:
#fungsi removing field yang tidak dipakai
def removing(data):

  data.drop(['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','please_choose_a_category:confidence','created_at','id_str','rownames'
  ],axis=1,inplace=True)
  data.head()
  return data

data = removing(df)

# **Cleansing dan Case Folding**

In [7]:
#fungsi untuk removing karakter dan case folding
import re

from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

tok = WordPunctTokenizer()
pat1 = r'@[A-za-z0-9_]+' #menghilangkan username
pat2 = r'https?://[^ ]+' #menghilangkan situs web
www_pat = r'www.[^ ]+' #menghilangkan situs web
combined_pat = r'|'.join((pat1, pat2)) #join pat1 & pat2 & wwwpat

def tweet_cleaner(text) :
  #removing
  soup = BeautifulSoup(text, 'html.parser')
  souped = soup.get_text()
  stripped = re.sub(combined_pat, '', souped)
  try:
    clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
  except:
    clean = stripped

  letters_only = re.sub('[^a-zA-Z]',' ', clean)
  #case folding
  lower_case = letters_only.lower()

  words = tok.tokenize(lower_case)
  return (" ".join(words)).strip()

# **Proses Preprocessing Data**

In [8]:
#proses mempreprocessing data
nums = [0,1653,551,1102,1653]
print ("Cleaning data tweet...\n")

clean_tweet_texts = []

for i in range(nums[0],nums[1]):
  if( (i+1)%551 == 0 ):
    print ("Memproses tweet %d dari %d " % ( i+1, nums[1] ))
  clean_tweet_texts.append(tweet_cleaner(data['text'][i]))

Cleaning data tweet...

Memproses tweet 551 dari 1653
Memproses tweet 1102 dari 1653
Memproses tweet 1653 dari 1653

# **Data Setelah Preprocessing**

In [9]:
#data setelah di preprocessing
clean_data = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_data['category'] = data.category

# **Menghitung Jumlah Kata**

In [10]:
#fungsi untuk menghitung jumlah kata pada data
def word_count(value):
  list = re.findall("\S+", value)
  return len(list)

In [11]:
#proses menghitung banyak kata
nums = [0,1653,551,1102,1653]
print ("Menghitung banyak kata...\n")

counting_words = []

for i in range(nums[0],nums[1]):
  if( (i+1)%551 == 0 ):
    print ("Memproses tweet %d dari %d " % ( i+1, nums[1] ))
  counting_words.append(word_count(clean_data['text'][i]))

Menghitung banyak kata...

Memproses tweet 551 dari 1653
Memproses tweet 1102 dari 1653
Memproses tweet 1653 dari 1653

# **Menyimpan Hasil Penghitungan Kata**

In [12]:
#menyimpan hasil penghitungan kata
fix_data = pd.DataFrame(counting_words,columns=['total_words'])
fix_data['text'] = clean_data.text
fix_data['category'] = clean_data.category

# **Menyimpan Data Final**

In [13]:
#save data
final_data = fix_data
final_data.to_csv('sample_data/clean_datatweet.csv',index=False)

In [14]:
#save data
final_data = fix_data
final_data.to_excel('sample_data/clean_datatweet.xlsx',index=False)